<h1>You want to edit this booking :</h1>

<%= form_for(@pigeon) do |f| %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :date %>
  <%= f.text_field :date %>
  <%= f.label :message %>
  <%= f.text_field :message %>
  <%= f.label :option_droppings %>
  <%= f.text_field :option_droppings %>
  <%= f.label :option_cooing %>
  <%= f.text_field :option_cooing %>
  <%= f.submit %>
<% end %>
