
<div class="container fullheight mt-4">
  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 m-auto">

      <h1 class='mb-0'>Félicitations !</h1>
      <p class='fs-5 fw-light'> Votre réservation est en attente de validation par l'éleveur</p>

      <div class='bg-white p-4 rounded mb-2 text-center'>
        <p class='my-1'><strong>Adresse du destinataire: </strong><%= @booking.address %></p>
        <p class='my-1'><strong>Date: </strong><%= @booking.date %></p>
      </div>
      <div class='bg-white p-4 rounded mb-2 text-center'>
        <p class='my-1'><strong>Nom du destinataire: </strong><%= @booking.recipient_name %></p>
        <p class='my-1'><strong>Votre message: </strong></p>
        <p><%= @booking.message %></p>
      </div>
      <% if @booking.option_cooing %>
        <div class='bg-white p-4 rounded mb-2 text-center'>
          <p class='my-3'>Message envoyé avec un roucoulement! <i class="fas fa-heart ms-2 text-danger"></i></p>
        </div>
      <% end %>
      <% if @booking.option_droppings %>
        <div class='bg-white p-4 rounded mb-2 text-center'>
          <p class='my-3'>Message envoyé avec une fiente! <i class="fas fa-splotch ms-2"></i></p>
        </div>
      <% end %>
      <div class="d-flex justify-content-center w-100 p-3">
        <%= link_to "Retour à l'accueil", root_path, class:'btn btn-warning m-2' %>
      </div>
      <div class="d-flex justify-content-end">
        <div class="d-flex flex-column justify-content-end text-end">
          <%= link_to "Modifier mon envoi", edit_booking_path(@booking), class:'text-warning' %>
          <%# Annulation a coder %>
          <%= link_to "Annuler mon pigeon", booking_path(@booking), method: :delete,
                                                                    class:'text-warning',
                                                                    data: { confirm: 'Etes-vous sûr de vouloir supprimer ce message?'} %>
        </div>
      </div>
    </div>
  </div>
</div>
