<h1>You want to edit this pigeon :</h1>
<h2><%= @pigeon.name %></h2>

<%= simple_form_for @pigeon do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :price_day %>
  <%= f.input :breed, collection: Pigeon::BREEDS %>
  <%= f.input :photo %>
  <%= f.submit "Valider", class: "btn btn-fl" %>
<% end %>
