<div class="container fullheight mt-4">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Mes pigeons</h1>
    <%= link_to 'Nouveau pigeon', new_pigeon_path, class: 'btn btn-warning' %>
  </div>

    <div class="pigeons justify-content-center mb-4">

    <% @pigeons.each do |pigeon| %>

        <% if pigeon.photo.attached? %>
          <% image_string = "url('#{cl_image_path pigeon.photo.key, width: 500, crop: :fill}')" %>
        <% else %>
           <% image_string = "url('#{image_path('pigeon-rect.png')}')" %>
        <% end %>

        <div class="pigeon-card d-flex flex-column w-100 bg-white rounded p-4">
          <h5 class='mb-0'><%= pigeon.name %></h5>
          <div class='pigeon-image w-100 rounded my-4' style='background-image: <%= image_string %>'></div>
          <p><strong>Race: </strong><%= pigeon.breed %></p>
          <div class="flex-grow-1">
            <p><%= pigeon.description %></p>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <%= link_to "Editer", pigeon_path(pigeon), class:'text-warning' %>
            <h5 class='mb-0'><%= pigeon.price_day %> €</h5>
          </div>
        </div>

    <% end %>

  </div>

  <div class="d-flex w-100 justify-content-end mb-4">
    <%= link_to 'accueil', root_path, class:'text-warning' %>
  </div>

</div>
