<div class="container fullheight mt-4 p-5">
  <div class="row">
    <div class="col-12 col-sm-10 col-lg-8 col-xl-6 m-auto">

      <h2>M'identifier</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      label: 'addresse mail',
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      label: 'Mot de passe',
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me,
                      label: 'retenir mes infos',
                      as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions d-flex justify-content-end">
          <%= f.button :submit, "C'est parti!", class: 'btn btn-warning mb-2' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
