<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-2">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto w-100 d-flex justify-content-between">
      <li class="nav-item active d-flex align-items-center">
        <% if user_signed_in? %>
          <% if current_user.pigeons == [] %>
            <%= link_to 'Nouveau pigeon', new_pigeon_path, class: 'nav-link' %>
          <% else %>
            <%= link_to "Mes pigeons", "/pigeons", class: "nav-link" %>
            <%= link_to 'Demandes', pending_bookings_path, class: 'nav-link' %>
          <% end %>
          <% if current_user.bookings == [] %>
            <%= link_to 'Nouveau message', pages_form_path, class: 'nav-link' %>
          <% else %>
            <%= link_to "Messages", "/bookings", class: "nav-link" %>
          <% end %>
        <% end %>
      </li>
      <li class="nav-item d-flex dropdown">

        <div class="user_name d-flex flex-column justify-content-center me-3">
          <% if user_signed_in? %>
            <p class='mb-0'>Bienvenue <span class='text-warning'><%= current_user.username %></span></p>
          <% else %>
            <p class='mb-0'><span class='text-warning'>M'identifier ou créer un compte</span></p>
          <% end %>
        </div>

        <div class="">
          <button class="btn dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <% if user_signed_in? && current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: 'avatar' %>
            <% else %>
              <%= image_tag "avatar.png", class:"avatar"%>
            <% end %>
          </button>
          <ul class="dropdown-menu w-100 rounded border-light" aria-labelledby="dropdownMenuButton1">

            <% if user_signed_in? %>
              <li><%= link_to "Nouveau message", pages_form_path, class:"dropdown-item" %></li>
              <li><%= link_to "Nouveau pigeon", new_pigeon_path, class:"dropdown-item" %></li>
              <li><%= link_to "Editer mon compte", edit_user_registration_path, class:"dropdown-item" %></li>
              <li><%= link_to "Me déconnecter", destroy_user_session_path, method: :delete, class:"dropdown-item" %></li>
            <% else %>
              <li><%= link_to "M'identifier", new_user_session_path, class:"dropdown-item" %></li>
              <li><%= link_to "Créer un compte", new_user_registration_path, class:"dropdown-item" %></li>
            <% end %>

          </ul>

        </div>
      </li>
    </ul>
  </div>
</div>
